:root{
    --fondo-body: #cae2e6;
    --fondo-header: #F4D03F;
    --fondo-ctn:#0001;
    --fondo-secciones: rgb(188, 220, 229);

    --color-nav-link: #A9CCE3;
    
    --font-size:30px;
    --font-size2:15px;
    --font-size-clock:18px;
    --font-size-btnScroll:35px;
    --font-color1:#34495E ;
    --font-color2:#D6DBDF;

    --font-fami1:'Segoe UI';
    --font-fami2:'Segoe UI', cursive;
    --color-btnClock: rgba(245, 106, 13, 0.835);
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    margin: 0;
    box-sizing: inherit;
}    
body{
    background-color: var(--fondo-body);
}
h1,h3{
    font-size: var(--font-size);
    color: var(--font-color1);
    font-family: var(--font-fami1);
    }
h2{
    text-align: center;
    font-size: var(--font-size);
    color: var(--font-color1);
    font-family: var(--font-fami2);
}
    
    /* header cabezera  */
.cabezera{
    background-color: var(--fondo-header);
    width:100%;
    position:sticky;
    top:0;
    padding:1rem;
}
.cabezera h1 {
    margin-left:80%;
}
/*secciones*/
.ctn-secciones{
    width: 95%;
    height: 100vh;
    margin:3% auto;
    z-index:2;
}
.ctn-secciones .secciones{
    background-color: var(--fondo-secciones);
    width:100%;
    height: 80vh;
    margin-bottom: 0.5%;
}
/*boton menu*/
.btn-menu{
    background-color: var(--fondo-header);
    position: fixed;
    bottom:1vh;
    right:2vw;
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    border:none;
    outline: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:999;
} 
/* boton scroll */
.btn-scroll{
    background-color: var(--font-color1);
    position: fixed;
    bottom:1vh;
    right:calc(2vw + 5vw);
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    border:none;
    outline: 0;
    font-weight: bold;
    font-size:var(--font-size-btnScroll);
    color: var(--fondo-header);
    cursor: pointer;
    z-index:99;
    transition: all 0.3s ease-out;
}
.btn-scroll:hover{
background-color: var(--fondo-header);
color: var(--font-color1);
}
.hidden-scroll{
    visibility: hidden;
    opacity:0;
}
/* boton dark mode */
.mode{
    background-color: var(--font-color1);
    position: fixed;
    bottom:1vh;
    left:2vw;
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    border:none;
    outline: 0;
    font-weight: bold;
    font-size:var(--font-size-btnScroll);
    color: var(--fondo-header);
    cursor: pointer;
    z-index:999;
    transition: all 0.3s ease-out;
}
.mode:hover{
    background-color:cadetblue;
}
.modeDark{ 
    background-color:var(--font-color1);
    color:var(--fondo-header);
}
.modeDark .cabezera{ 
    background-color:#012;
}
.modeDark .cabezera h1{ 
    Color:var(--fondo-header);
}
.modeDark .secciones{ 
    background-color:var(--fondo-ctn) ;
}

/* panel-menu*/
.panel-menu{
    background-color:var(--color-nav-link);
    position:fixed;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    z-index:998;
    transform: translate(-100%,0);
    transition:transform .6s ease;
    
}
.active-menu{
    transform: translate(0,0);
}
.panel-menu .ctn-link{
    width:inherit;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    background-color:var(--fondo-ctn);
}

.panel-menu .ctn-link .link-secciones{
    padding: 2rem;
    width: inherit;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}
.ctn-link .link-secciones h2{
    color: var(--font-color1);
    font-size: var(--font-size);
    font-family: var(--font-fami1);

}
.ctn-link:hover{
    background-color: var(--fondo-ctn);
}
.ctn-link .link-secciones:hover,
    .ctn-link .active:hover{
    background-color: var(--fondo-header);
}

/* Reloj */

.ctn-clock{
    width:20.5vw;
    margin:1% 73%;
    display: flex;
    justify-content: center;
}
.btn-clock{
    display:flex;
    flex-direction:column;
}
.ctn-clock .btn-clock button{
    background-color:var(--color-btnClock);
    width: 20vw;
    height:5vh;
    border-radius:2%;
    border:solid 2px var(--font-color1);
    font-size: var(--font-size-clock);
    font-family: var(--font-fami1);
}
.img-alarm{
    width:15vw;
    height:15vh;
    border-radius: 50%;
    margin-left:22%;
}
/* teclado */
.ctn-ball{
    background-color: var(--fondo-ctn);
    width:80vw;
    height: 40vh;
    margin: 5% auto;
}
.ctn-ball .ball{
    background-color: var(--fondo-header);
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    margin:10%  auto;
}

/* responsive con js  */

.ctn-responsive-js{
    width: 80%;
    height:inherit;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;

}
.ctn-responsive-js iframe{
    height:30vh;
    margin: auto;
}

/* Estado de red*/
.online,
.offline{
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: chartreuse;
    color: whitesmoke;
}
.offline{
    background-color: red;
}

/*cartas filtros*/

.cards{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.card{
    background-color: var(--fondo-body);
    color:var(--font-color1);
     transition: all 0.3s ease-out;
}
.card img{
    width: 100%;
    height: inherit;
}
.card figcaption{
    padding: 1rem;
}

.filter{
    /*display: none;*/
    visibility: hidden;
    opacity: 6;
    order: 1;
}
.video-inteligente{
    height: 25vh;
    margin-left: 30%;
}
.contact-form{
    --form-ok-color:#4caf50;
    --form-error-color:#F44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}
.contact-form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}
.contact-form textarea {
    resize: none;
}
.contact-form input[type='submit']{
    width: 50%;
    font-weight: bold;
    cursor: pointer
;}
.contact-form input,
.contact-form textarea {
    font-size: 1rem;
    font-family: var(--font-fami1);
}
.contact-form *::placeholder{
    color: #000;
}
.contact-form [required]:valid{
    border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid{
    border: thin solid var(--form-error-color);
}

/* Span form*/
.contact-form-error{
    margin-top:-1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color:#000;
    transition: all 800ms ease;
    text-align: center;
}
.contact-form-error.is-active{
display: block;
animation: show-message 1s 1 normal 0s ease-out both;
}
.none{
    display: none;
}

/*animacion para los mensajes de error*/
@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.contact-form legend,
.contact-form .contact-form-response{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
/*mediaQ Desktop*/

@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns:80% 20%;
        grid-template-rows:4rem auto;
        grid-template-areas: "header header"
                             "main panel";
    }
    header{
        grid-area: header;
        z-index: 3;
    }
    main{
        grid-area: main;
    }

    .panel-menu{
        grid-area: panel;
        background-color: var(--fondo-body);
        position: sticky;
        justify-content: flex-start;
        top:4rem;
        transform: translate(0,0);
        z-index: 2;
    }
    .panel-menu .ctn-link .link-secciones{
        justify-content: start;
        text-align: center;
    }
    .ctn-link .link-secciones a{
        padding: 0.75rem;
    }
    .panel-menu .ctn-link .active{
        background-color: lightcoral;
    }

    .ctn-link .link-secciones h2{
        font-size: var(--font-size2);
    }
    .btn-menu{
        display: none;
    }
    .btn-scroll{
    bottom:1vh;
    left:calc(2vw + 5vw);
    }
    .ctn-ball{
    width: 60vw;
    }
}