:root{
    --fondo-body: #cae2e6;
    --fondo-header: #F4D03F;
    --fondo-ctn:#0001;
    --fondo-secciones: rgb(188, 220, 229);

    --color-nav-link: #A9CCE3;
    
    --font-size:30px;
    --font-size-clock:18px;
    --font-color1:#34495E ;
    --font-color2:#D6DBDF;

    --font-fami1:'Segoe UI';
    --font-fami2:'Segoe UI', cursive;
    --color-btnClock: rgba(245, 106, 13, 0.835);
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    margin: 0;
    box-sizing: inherit;
}    
body{
    background-color: var(--fondo-body);
}
h1,h3{
    font-size: var(--font-size);
    color: var(--font-color1);
    font-family: var(--font-fami1);
    }
h2{
    text-align: center;
    font-size: var(--font-size);
    color: var(--font-color1);
    font-family: var(--font-fami2);
}
    
    /* header cabezera  */
.cabezera{
    background-color: var(--fondo-header);
    position:sticky;
    top:0;
    padding:1rem;
}
.cabezera h1 {
    margin-left:80%;
}
/*secciones*/
.ctn-secciones{
    width: 95%;
    height: 100vh;
    margin:3% auto;
    z-index:2;
}
.ctn-secciones .secciones{
    background-color: var(--fondo-secciones);
    width:100%;
    height: 80vh;
    margin-bottom: 0.5%;
}
/*boton menu*/
.btn-menu{
    background-color: var(--fondo-header);
    position: fixed;
    bottom:1vh;
    right:2vw;
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    border:none;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:999;
} 
/* panel-menu*/
.panel-menu{
    background-color:var(--color-nav-link);
    position:fixed;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    z-index:998;
    transform: translate(-100%,0);
    transition:transform .6s ease;
    
}
.active-menu{
    transform: translate(0,0);
}
.panel-menu .ctn-link{
    width:inherit;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    background-color:var(--fondo-ctn);
}

.panel-menu .ctn-link .link-secciones{
    padding: 2rem;
    width: inherit;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}
.ctn-link .link-secciones h2{
    color: var(--font-color1);
    font-size: var(--font-size);
    font-family: var(--font-fami1);

}
.ctn-link:hover{
    background-color: var(--fondo-ctn);
}
.ctn-link .link-secciones:hover{
    background-color: var(--fondo-header);
}

/* Reloj */

.ctn-clock{
    width:20.5vw;
    margin:1% 73%;
    display: flex;
    justify-content: center;
}
.btn-clock{
    display:flex;
    flex-direction:column;
}
.ctn-clock .btn-clock button{
    background-color:var(--color-btnClock);
    width: 20vw;
    height:5vh;
    border-radius:2%;
    border:solid 2px var(--font-color1);
    font-size: var(--font-size-clock);
    font-family: var(--font-fami1);
}
.img-alarm{
    width:15vw;
    height:15vh;
    border-radius: 50%;
    margin-left:22%;
}
/* teclado */
.ctn-ball{
    background-color: var(--fondo-ctn);
    width:80vw;
    height: 40vh;
    margin: 5% auto;
}
.ctn-ball .ball{
    background-color: var(--fondo-header);
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    margin:10%  auto;
}